@author Daniel Arteaga
@version 1.0
@date 12/04/21

# Ejercicio 

Usando Jupyter Notebook, construya un programa de Python que:

- Demuestre el funcionamiento de transacciones mediante los conceptos de Commit y Rollback.
- Demuestre el funcionamiento de cursores en SQL, en Python.

In [1]:
from ConfigConnection import ConfigConnection
from MySQLEngine import MySQLEngine

config = ConfigConnection("localhost","3306","admin","admin","Example")
engine = MySQLEngine(config)

print("Se ha creado una conexión a la base de datos.")

Se ha creado una conexión a la base de datos.

In [2]:
engine.ddsDms("DROP TABLE IF EXISTS customer;")
engine.ddsDms("CREATE TABLE customer (a SERIAL PRIMARY KEY, b CHAR(20), INDEX(a));")

Se ha ejecutado la transacción 'DROP TABLE IF EXISTS customer;', con resultado None.
Se ha ejecutado la transacción 'CREATE TABLE customer (a SERIAL PRIMARY KEY, b CHAR(20), INDEX(a));', con resultado None.

In [3]:
result = engine.select("DESC customer;")
engine.printAsTable(result,["Campo","Tipo de Dato","Nulo","Es llave","Valor por defecto","Extra"])

Campo    Tipo de Dato         Nulo    Es llave    Valor por defecto    Extra
-------  -------------------  ------  ----------  -------------------  --------------
a        bigint(20) unsigned  NO      PRI                              auto_increment
b        char(20)             YES

In [4]:
engine.ddsDms("START TRANSACTION;")

Se ha ejecutado la transacción 'START TRANSACTION;', con resultado None.

In [5]:
engine.ddsDms("INSERT INTO customer VALUES (10, 'Heikki');")

Se ha ejecutado la transacción 'INSERT INTO customer VALUES (10, 'Heikki');', con resultado None.

In [6]:
result = engine.select("SELECT a,b FROM customer;")
engine.printAsTable(result,["a","b"])

  a  b
---  ------
 10  Heikki

In [8]:
engine.ddsDms("COMMIT;")
engine.ddsDms("SET autocommit=0;")

Se ha ejecutado la transacción 'COMMIT;', con resultado None.
Se ha ejecutado la transacción 'SET autocommit=0;', con resultado None.

In [9]:
engine.ddsDms("INSERT INTO customer VALUES (15, 'John');")
engine.ddsDms("INSERT INTO customer VALUES (20, 'Paul');")
engine.ddsDms("DELETE FROM customer WHERE b = 'Heikki';")

Se ha ejecutado la transacción 'INSERT INTO customer VALUES (15, 'John');', con resultado None.
Se ha ejecutado la transacción 'INSERT INTO customer VALUES (20, 'Paul');', con resultado None.
Se ha ejecutado la transacción 'DELETE FROM customer WHERE b = 'Heikki';', con resultado None.

In [10]:
result = engine.select("SELECT a,b FROM customer;")
engine.printAsTable(result,["a","b"])

  a  b
---  ----
 15  John
 20  Paul

In [11]:
engine.ddsDms("ROLLBACK;")

Se ha ejecutado la transacción 'ROLLBACK;', con resultado None.

In [12]:
result = engine.select("SELECT a,b FROM customer;")
engine.printAsTable(result,["a","b"])

  a  b
---  ------
 10  Heikki